/* Scss Document */
@font-face {
  font-family: 'Neuropol';
  src: url("../fonts/neuropol.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/neuropol.eot?#iefix") format("embedded-opentype"), url("../fonts/neuropol.woff") format("woff"), url("../fonts/neuropol.ttf") format("truetype"), url("../fonts/neuropol.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
a:hover {
  text-decoration: none; }

.uppercase {
  text-transform: uppercase; }

.gui-controls li.expanded > ul {
  display: block !important; }

#header {
  background: #000000; }

.brand-holder {
  font-family: 'Neuropol', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 17px; }
  .brand-holder span.logo {
    font-weight: normal;
    background: URL("../imagens/logomarca.png") no-repeat center left;
    padding: 15px 60px; }

ul.ul-open {
  display: block !important; }

.iconsTop {
  float: right; }
  .iconsTop .pipe,
  .iconsTop a.blue.button {
    float: left; }
  .iconsTop .pipe {
    background-color: rgba(12, 12, 12, 0.12);
    height: 36px;
    width: 1px;
    margin: 0 18px 0 15px; }

.menubar-scroll-panel {
  background-color: #000000 !important; }

.item.descricao {
  margin-right: 20px; }

.accordion.documentos {
  margin-bottom: 20px; }

button.none {
  display: none; }

.buttonsAccordion {
  float: right;
  margin-top: -8px;
  margin-left: 3px; }
  .buttonsAccordion a#buttonModal {
    width: 37px; }

.ui.cinza.label {
  background-color: #D6D8D8 !important;
  color: #2E2E2E !important; }

.ui.verde.label {
  background-color: #09B062 !important;
  color: #fff !important; }

.ui.verde {
  color: #09B062 !important; }

.ui.cinza.button {
  background-color: #BFC1C1 !important;
  color: #2E2E2E !important; }

.ui.gold.button {
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset
}

.ui.gold.button:hover,.ui.gold.buttons .button:hover {
    background-color: #9e782a;
    color: #fff;
    text-shadow: none
}

.ui.green.button:focus,.ui.green.buttons .button:focus {
    background-color: #0ea432;
    color: #fff;
    text-shadow: none
}

.ui.gold.button:active,.ui.gold.buttons .button:active {
    background-color: #8e6d2c;
    color: #fff;
    text-shadow: none
}

.ui.green.active.button,.ui.green.button .active.button:active,.ui.green.buttons .active.button,.ui.green.buttons .active.button:active {
    background-color: #13ae38;
    color: #fff;
    text-shadow: none
}

.ui.inverted.gold.button,.ui.inverted.gold.buttons .button {
    background-color: transparent;
    box-shadow: 0 0 0 2px #9e782a inset!important;
    color: #9e782a
}

.ui.inverted.gold.button.active,.ui.inverted.gold.button:active,.ui.inverted.gold.button:focus,.ui.inverted.gold.button:hover,.ui.inverted.gold.buttons .button.active,.ui.inverted.gold.buttons .button:active,.ui.inverted.gold.buttons .button:focus,.ui.inverted.gold.buttons .button:hover {
    box-shadlightOw: none!important;
    color: #fff
}

.ui.inverted.gold.button:hover,.ui.inverted.gold.buttons .button:hover {
    background-color: #8e6d2c
}

.ui.inverted.gold.button:focus,.ui.inverted.gold.buttons .button:focus {
    background-color: #8e6d2c
}

.ui.inverted.gold.active.button,.ui.inverted.gold.buttons .active.button {
    background-color: #8e6d2c
}

.ui.inverted.gold.button:active,.ui.inverted.gold.buttons .button:active {
    background-color: #8e6d2c
}

.ui.inverted.gold.basic.button,.ui.inverted.gold.basic.buttons .button,.ui.inverted.gold.buttons .basic.button {
    background-color: transparent;
    box-shadow: 0 0 0 2px rgba(255,255,255,.5) inset!important;
    color: #fff!important
}

.ui.inverted.gold.basic.button:hover,.ui.inverted.gold.basic.buttons .button:hover,.ui.inverted.gold.buttons .basic.button:hover {
    box-shadow: 0 0 0 2px #22be34 inset!important;
    color: #9e782a!important
}

.ui.inverted.gold.basic.button:focus,.ui.inverted.gold.basic.buttons .button:focus {
    box-shadow: 0 0 0 2px #19b82b inset!important;
    color: #9e782a!important
}

.ui.inverted.gold.basic.active.button,.ui.inverted.gold.basic.buttons .active.button,.ui.inverted.gold.buttons .basic.active.button {
    box-shadow: 0 0 0 2px #1fc231 inset!important;
    color: #9e782a!important
}

.ui.inverted.gold.basic.button:active,.ui.inverted.gold.basic.buttons .button:active,.ui.inverted.gold.buttons .basic.button:active {
    box-shadow: 0 0 0 2px #25a233 inset!important;
    color: #9e782a!important
}

input.attachfile[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%; }

.cards.photoprofile .card {
  width: 182px !important; }
.cards.photoprofile .content {
  padding: 0 !important; }
.cards.photoprofile label:hover {
  cursor: pointer; }
.cards.photoprofile img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 182px;
  border: none !important;
  height: 245px;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15); }

body.login-page {
  background-color: #fff; }
  body.login-page label {
    color: #ccc !important;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-size: 13px !important;
    font-weight: normal !important; }
  body.login-page .topoLogin {
    background-color: #000000;
    width: 370px;
    position: absolute;
    left: 50%;
    margin-left: -185px;
    padding: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #222;
    margin-top: -96px;
    color: white;
    text-align: center;
    font-size: 18px; }
  body.login-page .boxLogin {
    background-color: #9b762a;
    width: 370px;
    position: absolute;
    left: 50%;
    margin-left: -185px;
    padding: 25px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #222;
    margin-top: 140px; }

.ui.steps .step.item:hover {
  cursor: pointer;
  color: #CFCFCF; }

table tbody > tr.cell-content-one > td {
  height: 72px; }
table tbody > tr.cell-content-not:hover {
  background-color: #FFFFD2; }
table tbody > tr.cell-content:hover {
  background-color: #FFFFD2;
  cursor: pointer; }
table .form-control[readonly] {
  cursor: pointer; }
table tr.cell-filter {
  background-color: #E3E3E3; }
table tr.cell-content {
  text-transform: uppercase; }
table tr.cell-content:hover ~ tr.row-actions {
  display: block;
  width: auto; }
table span {
  padding-right: 5px;
  color: black; }
table a {
  color: #005D8A;
  padding-right: 5px; }
table a:hover {
  color: #00A0D2;
  text-decoration: none; }
table a.actions-delete {
  color: red; }
table a.actions-delete:hover {
  color: #B40202;
  cursor: pointer; }

footer#footer-painel {
    background-color: #000000 !important;
    padding-top: 10px !important;
   	position: absolute;
    font-size: 12px;
    bottom:0px;
    width: 100%;
    text-align: center;
    color: white;
}

#footer-line-orange-painel {
    background-color: #F3712D !important;
    margin: 0 0 12px 0;
    position: absolute;
    height: 5px;
    line-height: 1;
    bottom:60px;
    width: 100%;
}

  